<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @conversation_user.user_id %>
</p>

<p>
  <strong>Conversation:</strong>
  <%= @conversation_user.conversation_id %>
</p>

<%= link_to 'Edit', edit_conversation_user_path(@conversation_user) %> |
<%= link_to 'Back', conversation_users_path %>
